<footer>
  <p mt-8 text-xs op-30>
    <a
      b-slate-link
      href="https://geminiprochat.com" target="_blank"
    >
    
    </a>  安徽全景专业GPT
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/babaohuang/GeminiProChat" target="_blank"
    >
      
    </a>
 <a
      b-slate-link
      href="https://beian.miit.gov.cn" target="_blank"
    >
皖ICP备17009711号-3
 </a>
  </p>
</footer>
