---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">安徽全景AI</span>
    <span class="gpt-subtitle">Chat（德选内部）</span>
 </div>
  <div class="fi mt-2">
  </div>
  <p mt-1 op-60>Based on Gemini Pro API.</p>
</header>
